In [1]:
import requests
import pprint
import pickle
login = {
    'username': 'dimensionsAPI@URMC.Rochester.edu',
    'password': 'Rochester&/()API'
}
resp = requests.post('https://app.dimensions.ai/api/auth.json', json=login)
resp.raise_for_status()
headers = {
    'Authorization': "JWT " + resp.json()['token']
}

###### Categories for FOR

In [3]:
forbig=[]
for i in range(1,23):
    if i<10:
        forbig.append(" 0"+str(i)+" ")
    else:
        forbig.append(" "+str(i)+" ")
        
forsmall={}
forsmall["01"]=["01","02","03","04","05","99"]
forsmall["02"]=["01","02","03","04","05","06","99"]
forsmall["03"]=["01","02","03","04","05","06","07","99"]
forsmall["04"]=["01","02","03","04","05","06","99"]
forsmall["05"]=["01","02","03","99"]
forsmall["06"]=["01","02","03","04","05","06","07","08","99"]
forsmall["07"]=["01","02","03","04","05","06","07","99"]
forsmall["08"]=["01","02","03","04","05","06","07","99"]
forsmall["09"]=["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","99"]
forsmall["10"]=["01","02","03","04","05","06","07","99"]
forsmall["11"]=["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","99"]
forsmall["12"]=["01","02","03","04","05","99"]
forsmall["13"]=["01","02","03","99"]
forsmall["14"]=["01","02","03","99"]
forsmall["15"]=["01","02","03","04","05","06","07","99"]
forsmall["16"]=["01","02","03","04","05","06","07","08","99"]
forsmall["17"]=["01","02","99"]
forsmall["18"]=["01","02","99"]
forsmall["19"]=["01","02","03","04","05","99"]
forsmall["20"]=["01","02","03","04","05","99"]
forsmall["21"]=["01","02","03","99"]
forsmall["22"]=["01","02","03","04","99"]
for i in forsmall.keys():
    forsmall[i]=[" "+i+x+" " for x in forsmall[i]]   
    forsmall[i]=[f.strip(' ') for f in forsmall[i]]
    
with open('forbig','wb') as fp:
    pickle.dump(forbig,fp)
with open ('forsmall', 'wb') as fp:
    pickle.dump(forsmall,fp)

In [5]:
FORtext=[]
with open("FORtext.rtf","r") as file:
    for line in file:
        FORtext.append(line)
FORtext=FORtext[7:]
FORtext[0]=FORtext[0][FORtext[0].find("D"):]
for i in range(0,22):
    FORtext[i]=FORtext[i][FORtext[i].find(" ")+1:]
for i,s in enumerate(FORtext):
    FORtext[i] = FORtext[i].strip()
    FORtext[i] = FORtext[i][:-1]
menu={}
for i in FORtext:
    menu[i[:i.find(" ")]]=i[i.find(" "):]
del menu['\\outl0\\strokewidth0']
menu['101']="Pure Mathemetics"
for i in menu.keys():
    if len(i)==1:
        menu['0'+i] = menu.pop(i)
menu["01"]=menu["01"].rstrip()
menu["02"]=menu["02"].rstrip()

with open ('menu', 'wb') as fp:
    pickle.dump(menu,fp)

###### Querying of counts for FORs( from 01 to 22)

In [6]:
import pandas as pd
counts1=[]
for f in forbig:
    resp = requests.post(
        'https://app.dimensions.ai/api/dsl.json',
        data='search publications where FOR_first.name~"'+f+'" return publications[FOR_first]',
        headers=headers)
    j=resp.json()
    counts1.append(j['_stats']['total_count'])
forfirst=forbig
for_first=list(menu.values())[:22]

In [7]:
t1={"FORfirst":forfirst,"Name":for_first,"Counts":counts1}
d1 = pd.DataFrame(t1) 
d1.to_csv("FOR_first_counts.csv")

##### Counts for FORs (01-22)

In [16]:
d1 = pd.read_csv("FOR_first_counts.csv") 
d1

,Unnamed: 0,FORfirst,Name,Counts
0,0,1,TECHNOLOGY,2050765
1,1,2,MEDICAL AND HEALTH SCIENCES,2310856
2,2,3,BUILT ENVIRONMENT AND DESIGN,4478669
3,3,4,EDUCATION,1062380
4,4,5,ECONOMICS,748378
5,5,6,"COMMERCE, MANAGEMENT, TOURISM AND SERVICES",6152625
6,6,7,STUDIES IN HUMAN SOCIETY,351783
7,7,8,PSYCHOLOGY AND COGNITIVE SCIENCES,3598505
8,8,9,LAW AND LEGAL STUDIES,5871028
9,9,10,STUDIES IN CREATIVE ARTS AND WRITING,935939
10,10,11,"LANGUAGE, COMMUNICATION AND CULTURE",15382415
11,11,12,HISTORY AND ARCHAEOLOGY,47084
12,12,13,PHILOSOPHY AND RELIGIOUS STUDIES,585683
13,13,14,Pure Mathemetics,911659
14,14,15,Applied Mathematics,583097
15,15,16,Numerical and Computational Mathematics,1222088
16,16,17,Statistics,2003590
17,17,18,Mathematical Physics,295845
18,18,19,Other Mathematical Sciences,57558
19,19,20,Astronomical and Space Sciences,641487
20,20,21,"Atomic, Molecular, Nuclear, Particle and Plas...",721833
21,21,22,Classical Physics,271581

###### Querying for counts for sub FORs

In [126]:
forsecond=[]
for_second=[]
counts=[]
for i in forsmall.keys():
    counter=0
    for f in forsmall[i]:
        print(menu[str(int(f))])
        resp = requests.post(
            'https://app.dimensions.ai/api/dsl.json',
            data='search publications where FOR.name~"'+f+'" return publications[FOR]',
            headers=headers)
        j=resp.json()
        if j['publications']:
            print("paper number in [",j['publications'][0]['FOR'][0]['name'],"] is [", j['_stats']['total_count'],"]")
        else:
            print("paper number in [",f,"] is [", j['_stats']['total_count'],"]")
        counter+=j['_stats']['total_count']
        forsecond.append(f)
        for_second.append(menu[str(int(f))])
        counts.append(j['_stats']['total_count'])
    forsecond.append(i)
    for_second.append(menu[str(int(i))])
    counts.append(counter)
    print("-------------------------------that's it for FOR [",i,"]------------------------------------------")
    print("------------------------total number of FOR [",i,"] is",counter,"---------------------------------")

Pure Mathemetics
paper number in [ 0101 Pure Mathematics ] is [ 715735 ]
 Applied Mathematics
paper number in [ 0102 Applied Mathematics ] is [ 459426 ]
 Numerical and Computational Mathematics
paper number in [ 0103 Numerical and Computational Mathematics ] is [ 317074 ]
 Statistics
paper number in [ 0104 Statistics ] is [ 582641 ]
 Mathematical Physics
paper number in [ 0105 Mathematical Physics ] is [ 14962 ]
 Other Mathematical Sciences

KeyboardInterrupt:

In [99]:
for index,i in enumerate(forsmall.keys()):
    inst=forsecond.index(i)+1
    forsecond.insert(inst,i)
    for_second.insert(inst,"direct query")
    counts.insert(forsecond.index(i),counts1[index])
# incorporating two tables and compare numbers

In [104]:
t={"FOR":forsecond,"Name":for_second,"Counts":counts}
d=pd.DataFrame(t)
d.to_csv("FORcounts.csv")

##### Counts for sub FORs

In [128]:
d = pd.read_csv("FORcounts.csv") 
d

,Unnamed: 0,FOR,Name,Counts
0,0,101,Pure Mathemetics,716899
1,1,102,Applied Mathematics,459426
2,2,103,Numerical and Computational Mathematics,316631
3,3,104,Statistics,583303
4,4,105,Mathematical Physics,14962
5,5,199,Other Mathematical Sciences,0
6,6,1,MATHEMATICAL SCIENCES,2034543
7,7,1,direct query,2091221
8,8,201,Astronomical and Space Sciences,206834
9,9,202,"Atomic, Molecular, Nuclear, Particle and Plas...",689770
10,10,203,Classical Physics,414
11,11,204,Condensed Matter Physics,37611
12,12,205,Optical Physics,157869
13,13,206,Quantum Physics,71091
14,14,299,Other Physical Sciences,1210897
15,15,2,PHYSICAL SCIENCES,2288973
16,16,2,direct query,2374486
17,17,301,Analytical Chemistry,396198
18,18,302,Inorganic Chemistry,438718
19,19,303,Macromolecular and Materials Chemistry,479864
20,20,304,Medicinal and Biomolecular Chemistry,8144
21,21,305,Organic Chemistry,323138
22,22,306,Physical Chemistry (incl. Structural),2768532
23,23,307,Theoretical and Computational Chemistry,140976
24,24,399,Other Chemical Sciences,217763
25,25,3,CHEMICAL SCIENCES,4410846
26,26,3,direct query,4773333
27,27,401,Atmospheric Sciences,81989
28,28,402,Geochemistry,146418
29,29,403,Geology,522800
...,...,...,...,...
171,171,18,direct query,295845
172,172,1901,Art Theory and Criticism,431
173,173,1902,"Film, Television and Digital Media",28986
174,174,1903,Journalism and Professional Writing,7690
175,175,1904,Performing Arts and Creative Writing,18034
176,176,1905,Visual Arts and Crafts,1997
177,177,1999,Other Studies in Creative Arts and Writing,2
178,178,19,STUDIES IN CREATIVE ARTS AND WRITING,56775
179,179,19,direct query,57140
180,180,2001,Communication and Media Studies,4381
181,181,2002,Cultural Studies,256303
182,182,2003,Language Studies,15533
183,183,2004,Linguistics,212859
184,184,2005,Literary Studies,175438
185,185,2099,"Other Language, Communication and Culture",61
186,186,20,"LANGUAGE, COMMUNICATION AND CULTURE",627599
187,187,20,direct query,664575
188,188,2101,Archaeology,54793
189,189,2102,Curatorial and Related Studies,15929
190,190,2103,Historical Studies,651954
191,191,2199,Other History and Archaeology,0
192,192,21,HISTORY AND ARCHAEOLOGY,717850
193,193,21,direct query,722676
194,194,2201,Applied Ethics,8828
195,195,2202,History and Philosophy of Specific Fields,23041
196,196,2203,Philosophy,170345
197,197,2204,Religion and Religious Studies,81095
198,198,2299,Other Philosophy and Religious Studies,6
199,199,22,PHILOSOPHY AND RELIGIOUS STUDIES,269911
200,200,22,direct query,283315